<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The renderer is OpenGL ES 3.0 with half-float render targets. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <!-- Only needed to save renders to Movies/Pictures on Android 8 and 9. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Spindle"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- "Open with" / "Share to" Spindle from file managers and slicers. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="model/stl" />
                <data android:mimeType="model/x.stl-binary" />
                <data android:mimeType="model/x.stl-ascii" />
                <data android:mimeType="application/sla" />
                <data android:mimeType="application/vnd.ms-pki.stl" />
                <data android:mimeType="model/3mf" />
                <data android:mimeType="application/vnd.ms-package.3dmanufacturing-3dmodel+xml" />
            </intent-filter>
        </activity>
    </application>
</manifest>
